* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#mainPictureAndText {
    max-width: 1400px;
    width: 100%;
    height: 674px;
    border-radius: 33px;
    background-image: url("../image/image\ \(2\).png");
    background-repeat: no-repeat;
    background-size: contain;
    margin: 156px auto;
}

#textPicture {
    color: #FFF;
    font-size: 44px;
}

#textInPicture {
    margin: auto;
    width: 1258px;
    height: 159px;
    padding-top: 39px;
}

#emailFrame {
    border-radius: 24px;
    background: #EBF8FE;
    width: 1137px;
    height: 350px;
    margin: 0 auto;
    padding: 40px 32px;
    margin-bottom: 72px;
}

#subscribtion {
    margin-top: 24px;
}

#aboutLaunch {
    color: #181D27;
    font-size: 64px;
    text-align: center;
}

#subscribtion p {
    color: #535862;
    font-size: 32px;

}

#sendEmail {
    margin: auto;
    width: 488px;
    margin-top: 24px;
}

#mainEmailInput {
    width: 345px;
    height: 48px;
    display: inline-block;
    border: 1px solid #D5D7DA;
    background: #FFF;
    border-radius: 8px;
}

button {
    border: 2px solid #FFF;
    background: #007CB8;
    border-radius: 8px;
    padding: 12px 24px;
    color: #FFF;
}

#sendEmail p {
    color: #535862;
    font-size: 14px;
    margin-top: 8px;
}

#formContainer {
    width: 546px;
    margin: auto;
    padding: 40px 32px;
    border-radius: 24px;
    background: #EBF8FE;
    margin-top: 72px;

}

h2 {
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
}

#full {
    font-size: 14px;
    color: #1B003D;
    font-weight: 400px;
    display: block;

}

#fullnameFrame {
    margin-top: 8px;
    border-radius: 8px;
    border: 1px solid #380054;
    padding: 8px 16px;
    background: #EBF8FE;
    max-width: 482px;
    width: 100%;
}

#emailtext {
    font-size: 14px;
    color: #1B003D;
    font-weight: 400px;
    display: block;
    margin-top: 24px;


}

#emailInput {
    margin-top: 8px;
    border-radius: 8px;
    border: 1px solid #380054;
    padding: 8px 16px;
    background: #EBF8FE;
    max-width: 482px;
    width: 100%;
}

#recomment {
    font-size: 14px;
    color: #1B003D;
    font-weight: 400px;
    display: block;
    margin-top: 24px;

}

#radioinput {
    margin-top: 7px;
    vertical-align: middle;
}

#labelForFirstYEs {
    font-size: 14px;
    color: #6D5F8B;
    vertical-align: middle;
}

#numbertwo {
    display: block;
    margin-top: 10px;
}

#numberThree {
    display: block;
    margin-top: 10px;

}

#languangesAndFrameWorks {
    margin-top: 24px;
}

#frameWorks {
    color: #1B003D;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    display: block;
}

#labelForFirstC {
    color: #6D5F8B;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    vertical-align: middle;
}
#checkboxInput {
    margin-top: 7px;
    vertical-align: middle;
}
#languangesAndFrameWorksTwo {
    margin-top: 10px;
}
#languangesAndFrameWorksThree {
    margin-top: 10px;
}
#languangesAndFrameWorksFour {
    margin-top: 10px;
}